argcomplete==1.10.0
beautifulsoup4==4.8.0
blis==0.7.4
boto3
catalogue==2.0.4
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
contextvars==2.4
cymem==2.0.5
dataclasses
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
idna==2.10
IMAPClient==2.1.0
immutables==0.15
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
murmurhash==1.0.5
numpy==1.19.5
olefile==0.46
packaging==20.9
pandas==1.1.5
pathy==0.5.2
pdfminer.six==20181108
Pillow==8.2.0
preshed==3.0.5
pycryptodome==3.10.1
pydantic==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-pptx==0.6.18
pytz==2021.1
requests==2.25.1
six==1.12.0
smart-open==3.0.0
sortedcontainers==2.3.0
soupsieve==2.2.1
spacy==3.0.6
spacy-legacy==3.0.5
sklearn
SpeechRecognition==3.8.1
srsly==2.4.1
textract==1.6.3
thinc==8.0.3
tqdm==4.60.0
typer==0.3.2
typing-extensions==3.10.0.0
tzlocal==1.5.1
urllib3==1.26.4
wasabi==0.8.2
xlrd==1.2.0
XlsxWriter==1.4.0
zipp==3.4.1
